<nav class="navbar">
  <p id="navIcon" class="navText">YNA</p>
  <div>
    <a class="navOption navText">ABOUT</a>
    <a class="navOption navText" href="../pages/login.ejs">LOGIN</a>
    <a class="navOption navText">FAQ</a>
    <a class="navOption navText">CONTACT US</a>
  </div>
</nav>
